<!DOCTYPE html>
<html>
<head>
    <title>Прогноз погоды</title>
</head>
<body>
    <h1>Прогноз погоды</h1>
    <form id="route-form">
        <label for="start-point">Начальная точка:</label>
        <input type="text" id="start-point" name="start-point"><br><br>
        <label for="end-point">Конечная точка:</label>
        <input type="text" id="end-point" name="end-point"><br><br>
        <button type="submit">Получить прогноз</button>
    </form>
    <div id="dash-app"></div>
    <script src="assets/dash-app.js"></script>
</body>
</html>